<!DOCTYPE html>
<html lang="en">
<head>
	<title>Questionnaire</title>
	<meta charset="UTF-8">
	</head>
<body>
	<form name="Questionnaire" method="POST">
	<span>
		BuyCycle
	</span>
	<span>
		Questionnaire<br>
	</span>
	<br><br>
		Question 1:
		<select name="cars" id="cars">
			<option value="option1">option1</option>
			<option value="option2">option2</option>
			<option value="option3">option3</option>
			<option value="option4">option4</option>
		</select>
		<br><br>
		Question 2:
		<select name="cars" id="cars">
			<option value="option1">option1</option>
			<option value="option2">option2</option>
			<option value="option3">option3</option>
			<option value="option4">option4</option>
		</select>
		<br><br>
		Question 3:
		<select name="cars" id="cars">
			<option value="option1">option1</option>
			<option value="option2">option2</option>
			<option value="option3">option3</option>
			<option value="option4">option4</option>
		</select>
		<br><br>
		Question 4:
		<select name="cars" id="cars">
			<option value="option1">option1</option>
			<option value="option2">option2</option>
			<option value="option3">option3</option>
			<option value="option4">option4</option>
		</select>
		<br><br>
		Question 5:
		<select name="cars" id="cars" >
			<option value="option1">option1</option>
			<option value="option2">option2</option>
			<option value="option3">option3</option>
			<option value="option4">option4</option>
		</select>
	<br>
	<br>
		<button type="Submit"> <a href="profile"> submit the Questionnaire  </a></button>
	</form>
</body>
</html>
