<!DOCTYPE html>
<html lang="en">
<head>
	<title>Questionnaire</title>
	<meta charset="UTF-8">
	</head>
<body>
	<form name="" method="POST">
	<span>
		BuyCycle
	</span>
	<span>
		Forum<br>
	</span>
	<br><br>
		<div>
			<div>Question1</div>
			<div>Answer1</div>
			<div>Answer2</div>

		</div>
		<br><br>
		<div>
			<div>Question2</div>
			<div>Answer1</div>
			<div>Answer2</div>

		</div>
		<br><br>
		<div>
			<div>Question3</div>
			<div>Answer1</div>
			<div>Answer2</div>

		</div>
		<br><br>
	<br>
	<br>
		<button type="Submit"> <a href=""> Update Forum  </a></button>
		<button type="Submit"> <a href="inventory.html"> Inventory </a></button>
	</form>
</body>
</html>
